<%= link_to 'home', root_path%> 
<%# this reads from the routes file to check where to point too %>
<%= link_to 'about', about_path%>
<%= link_to 'contact', contact_path%>

<h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p>
